@model long
<div class="modal-content" style="border-radius: 0; border:none;">
    <div class="modal-header" style="background-color: #34495E; color: white;">
        <h5 class="modal-title"><b>Додати новий дослід</b></h5>
    </div>
    <div class="modal-body">
        <div ng-init="formId = @Model" />
		<div ng-init="formModel = @ViewBag.FormModel"></div>
        <div ng-init="basicUrl = '@ViewBag.BasicUrl'" />
        <uib-alert ng-repeat="alert in alertsFormModal" type="{{alert.type}}">{{alert.msg}}</uib-alert>
        <div class="container">
            <div ng-repeat="field in formModel.fields">
                <div ng-switch on="field.fieldType">
                    <div class="form-group row" ng-switch-when="date">
                        <label for="{{field.name}}" class="control-label"> {{field.label}}</label><span ng-show="field.required" style="color:red; font-size:x-large;">*</span><br>
                        <div class='input-group date' id='datetimepicker1' ng-init="initDateTimePicker()">
                            <input type='text' class="form-control" ng-model="field.dataValue" data-date-time-picker />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="checkbox form-group row" ng-switch-when="checkbox">
                        <label for="{{field.name}}" class="control-label" name="{{field.name}}" style="font-weight:bold">
                            <input type="checkbox" ng-model="field.dataValue"> {{field.label}}
                        </label><br>
                    </div>
                    <div class="form-group row" ng-switch-when="checkbox-group">
                        <label for="{{field.name}}" class="control-label"> {{field.label}}</label><br>
                        <div ng-repeat="option in field.options" class="checkbox">
                            <label for="{{field.name}}" class="control-label" name="{{field.name}}">
                                <input type="checkbox" ng-model="option.isSelected" value="{{option.value}}" name="{{field.name}}"> {{option.name}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group row" ng-switch-when="radio-group">
                        <label for="{{field.name}}" class="control-label"> {{field.label}}</label><span ng-show="field.required" style="color:red; font-size:x-large;">*</span><br>
                        <div ng-repeat="option in field.options" class="radio">
                            <label for="{{field.name}}" class="control-label" name="{{field.name}}">
                                <input type="radio" ng-model="field.dataValue" ng-value="{{option.id}}" name="{{field.name}}">
                                {{option.name}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group row" ng-switch-when="rich-text">
                        <label for="{{field.name}}" class="control-label"> {{field.label}}</label><span ng-show="field.required" style="color:red; font-size:x-large;">*</span><br>
                        <textarea style="resize:vertical" rows="2" class="form-control" cols="10" name="{{field.name}}" id="{{field.name}}" ng-model="field.dataValue"></textarea>
                    </div>
                    <div class="form-group row" ng-switch-when="select">
                        <label for="{{field.name}}" class="control-label"> {{field.label}}</label><span ng-show="field.required" style="color:red; font-size:x-large;">*</span><br>
                        <select ng-model="field.dataValue" class="form-control">
                            <option ng-repeat="option in field.options" value="{{option.id}}"> {{option.name}}</option>
                        </select>
                    </div>
                    <div class="form-group row" ng-switch-when="text">
                        <label for="{{field.name}}" class="control-label"> {{field.label}}</label><span ng-show="field.required" style="color:red; font-size:x-large;">*</span><br>
                        <input type="text" class="form-control" name="{{field.name}}" id="{{field.name}}" ng-model="field.dataValue">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">
            Відміна
        </button>
        <button type="button" class="btn btn-success" ng-click="ok()">
            OK
        </button>
    </div>
</div>
