@model long
<div class="modal-content" style="border-radius: 0; border:none;">
    <div class="modal-header" style="background-color: #34495E; color: white;">
        <h5 class="modal-title"><b>Fill New Research</b></h5>
    </div>
    <div class="modal-body">
        <div ng-init="formId = @Model" />
        <div ng-init="formModel = @ViewBag.FormModel"></div>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>
        
        <div class="container">
            <div ng-repeat="field in formModel.fields">
                <div ng-switch on="field.fieldType">
                    <div class="form-group row" ng-switch-when="date">
                        <label for="{{field.name}}" class="row control-label">{{field.label}}</label><br>
                        <input type="date" id="{{field.name}}">
                    </div>
                    <div class="form-group row" ng-switch-when="checkbox">
                        <label for="{{field.name}}" class="row control-label">{{field.label}}</label><br>
                        <input type="checkbox">
                    </div>
                    <div class="form-group row" ng-switch-when="checkbox-group">
                        <label for="{{field.name}}" class="row control-label">{{field.label}}</label><br>
                        <input ng-repeat="option in field.options" type="checkbox">
                    </div>
                    <div class="form-group row" ng-switch-when="radio-group">
                        <label for="{{field.name}}" class="row control-label">{{field.label}}</label><br>
                        <input ng-repeat="option in field.options" type="radio">
                    </div>
                    <div class="form-group row" ng-switch-when="rich-text">
                        <label for="{{field.name}}" class="row control-label">{{field.label}}</label><br>
                        <textarea rows="2" cols="10"></textarea>
                    </div>
                    <div class="form-group row" ng-switch-when="select">
                        <label for="{{field.name}}" class="row control-label">{{field.label}}</label><br>
                        <select>
                            <option ng-repeat="option in field.options"></option>
                        </select>
                    </div>
                    <div class="form-group row" ng-switch-when="text">
                        <label for="{{field.name}}" class="row control-label">{{field.label}}</label><br>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">
            Cancel
        </button>
        <button type="button" class="btn btn-success" @*ng-click="ok()" ng-disabled="isAllFieldsNotEmpty()"*@>
            OK
        </button>
    </div>
</div>
