<div class="modal-content" style="border-radius: 0; border:none;">
    <div class="modal-header" style="background-color: #34495E; color: white;">
        <h5 class="modal-title"><b>Створити групу</b></h5>
    </div>
    <div class="modal-body">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>
        <div class="form-group">
            <label for="courseName">Назва групи досліджень:</label>
            <input type="text" class="form-control" id="courseName" ng-model="courseName" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">
            Cancel
        </button>
        <button type="button" class="btn btn-success" ng-click="ok()" ng-disabled="!courseName">
            OK
        </button>
    </div>
</div>