<div class="modal-content" style="border-radius: 0; border:none;">
    <div class="modal-header" style="background-color: #34495E; color: white;">
        <h5 class="modal-title"><b>Видалити групу</b></h5>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                   <h4>Ви справді хочете видалити цю групу?</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">
            Відміна
        </button>
        <button type="button" class="btn btn-success" ng-click="okRemove()">
            OK
        </button>
    </div>
</div>