@{
    ViewBag.Title = "Contact";
}
<h2><strong>Creating new researcher form</strong></h2>
<form action="">
    <textarea name="formBuilder" id="formBuilder" cols="30" rows="10"></textarea>
</form>
<script>
    $(document).ready(function ($) {
        'use strict';
        $('textarea').formBuilder();
    });
</script>