@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="adminPageController" ng-cloak>
    <div ng-init="courses = @ViewBag.CourseList" />
    <div ng-init="createCourseModalTemplate = '@ViewBag.CreateCourseModalTemplate'" />

    <h3>Courses:</h3>
    <div class="row">
        <div class="col-md-6">
            <input ng-model="search.Name" id="search-course" class="form-control" type="text" placeholder="Type course name to search">
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2 text-right">
            <button type="button" class="btn btn-success" ng-click="showCreateCourseModal()">
                Add New Course
            </button>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-1">Name</th>
                <th class="col-md-2" style="text-align:center">Forms Count</th>
                <th class="col-md-2" style="text-align:center">Researchers Count</th>
                <th class="col-md-1" style="text-align:center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="course in courses | filter:search:strict">
                <td>
                    {{course.Name}}
                </td>
                <td style="text-align:center">
                    {{course.FormsCount}}
                </td>
                <td style="text-align:center">
                    {{course.ClassListCount}}
                </td>
                <td style="text-align:center">
                    <a href="#">
                        <i class="fa fa-cogs"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>