@model long
<div class="modal-content" style="border-radius: 0; border:none;">
    <div class="modal-header" style="background-color: #34495E; color: white;">
        <h5 class="modal-title"><b>Реєстрація нового дослідника</b></h5>
    </div>
    <div class="modal-body">
        <div ng-init="courseId = @Model" />
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>
        <div class="form-group row">
            <label for="userName" class="col-md-3 control-label">Ім\'я/Логін:</label>
            <div class="col-md-9">
                <input type="text" id="userName" class="form-control" ng-model="userName">
            </div>
        </div>
        <div class="form-group row">
            <label for="userEmail" class="col-md-3 control-label">Електронна пошта:</label>
            <div class="col-md-9">
                <input type="email" id="userEmail" class="form-control" ng-model="userEmail">
            </div>
        </div>
        <div class="form-group row">
            <label for="userPassword" class="col-md-3 control-label">Пароль:</label>
            <div class="col-md-9">
                <input type="password" id="userPassword" class="form-control"  ng-model="userPassword">
            </div>
        </div>
        <div class="form-group row">
            <label for="userPasswordConfirm" class="col-md-3 control-label">Підтвердження паролю:</label>
            <div class="col-md-9">
                <input type="password" id="userPasswordConfirm" class="form-control" ng-model="userPasswordConfirm">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">
            Відміна
        </button>
        <button type="button" class="btn btn-success" ng-click="ok()" ng-disabled="isAllFieldsNotEmpty()">
            OK
        </button>
    </div>
</div>
