<div class="modal-content" style="border-radius: 0; border:none;">
    <div class="modal-header" style="background-color: #34495E; color: white;">
        <h5 class="modal-title"><b>Create Course</b></h5>
    </div>
    <div class="modal-body">
        @*<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>*@
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">Add existing user to this course</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-md-1"></th>
                                <th class="col-md-11">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="researcher in researchers">
                                <td style="text-align:center">
                                    <input type="checkbox" ng-model="researcher.isSelected" />
                                </td>
                                <td>
                                    {{researcher.name}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()">
            Cancel
        </button>
        <button type="button" class="btn btn-success" ng-click="ok()" ng-disabled="selectedResearch()">
            OK
        </button>
    </div>
</div>